@page "/rectangle-example"

<div>This is an example of the rectangle component</div>

<Rectangle></Rectangle>
<Rectangle FillColour="blue" OutlineColour="green" Width="50" Height="100"></Rectangle>

@code {

}
