@page "/line-example"

<div>This is an example of the line component</div>

<Line X1="500" Y1="200" X2="600" Y2="600" Colour="green" Thickness="2" OutlineColour="yellow" OutlineThickness="4"></Line>

@code {

}
