@page "/circle-example"

<div>This is an example of the circle component</div>

<Circle Colour="green" OutlineColour="blue" OutlineThickness="10" Radius="50" X="300" Y="300" Position="Graphics.Shared.Position.Relative"></Circle>

@code {

}
